@import "./parts/base.css";
@import "./cmps/header.css";
@import "./pages/home-page.css";
@import "./pages/about-page.css";
@import "./cmps/footer.css";
/* NOTE */

@import "./apps/note/cmps/note-img.css";
@import "./apps/note/pages/note-app.css";
/* EMAIL  */

@import "./parts/helpers.css";
@import "./apps/email/email-style.css";
.main-section {
    height: 100vh;
}