@import "./parts/base.css";
@import "./cmps/header.css";
@import "./pages/home-page.css";
@import "./pages/about-page.css";
@import "./cmps/footer.css";

@import"./apps/note/cmps/note-img.css";


.main-section {
    height: 100vh;
}




