@import "./parts/base.css";
@import "./cmps/header.css";
@import "./pages/home-page.css";
@import "./pages/about-page.css";
@import "./cmps/footer.css";


/* NOTE */
@import "./apps/note/pages/note-app.css";
@import "./apps/note/cmps/note-types.css";
@import "./apps/note/cmps/note-actions.css";
@import "./apps/note/cmps/note-edit-add.css";

/* BOOKS  */
@import "./apps/books/pages/books.css";

/* EMAIL  */
@import "./parts/helpers.css";
@import "./apps/email/email-style.css";


.main-section {
    height: 100vh;
}

