
.note-video {
    border: lightgray 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.note-todos {
    border: lightgray 2px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.note-todo-preview {
    word-break: break-all;
}

.note-txt {
    border: lightgray 2px solid;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* max-height: 100px; */
    /* align-items: center; */
    /* align-self: flex-start; */
    text-align: center;
    gap: 10px;
    padding: 10px;
    word-break: break-all;
    
}

.note-img {
    border: lightgray 2px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.note-img  img{
    width: 90%;
    margin: auto;
}

.note-audio  {
    border: lightgray 2px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px;
}
.note-audio audio {
    width: 90%;
}

.note-canvas  {
    border: lightgray 2px solid;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 10px;
}