
.red {
    color: red;
}

.green {
    color: green;
} 

/* animations  */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* links */

.router-link-exact-active {
    color: gold
}

.active-link {
    color: darkgoldenrod;
}


/* USER-MSG */

.user-msg {
    width: 200px;
    min-height: 50px;
    position: fixed;
    top: 15px;
    right: 0;
    text-align: center;
}

.user-msg span {
    color: blue;
}
.success {
    color: green;
    border: green solid 3px;
    background-color: honeydew;
}

.error {
    color: red;
    border: red solid 3px;
    background-color: honeydew;
}


/* BOOK APP PAGE  */

    .book-app { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../../img/note-app3.jpg');
    /* height: 90vh; */
    /* max-height: 90vh; */
}

.book-filter {
    display: flex;
    flex-direction: column;
}

.book-list ul {
    display: flex;  
    flex-wrap: wrap;
    gap: 20px;
    list-style-type: none;
}

.book-preview {
    background-color: lightpink;
    border: green solid 2px;
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 250px;
    text-align: center;
    font-size: 0.8rem;
}

.book-preview img {
    width: 40%;
}


/* BOOK DETAILS PAGE */

.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-image: url('../../../../img/note-app3.jpg');
}

.book-details img {
    width: 25%;
}

/* REVIEW FORM  */

.review-form {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.review-text-box {
    height: 100px;
    width: 200px;
}

.review-add ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.review-add li{
    border: gray 1px solid;
}

/* BOOK ADD PAGE  */

.book-add {
    background-image: url('../../../../img/note-app3.jpg');
}

.add-new-book {
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.add-new-book button {
    background-color: rgb(148, 218, 255);
    border-radius: 10px;
    cursor: pointer;
}

.new-book-search-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
    margin: 0;
}

.new-book-search-list li{
    display: flex;
   flex-direction: column;
   gap: 10px;
}

.new-book-search-list li img{
    width: 150px;
}

.new-book-search-list li  {
   max-width: 150px;
}

.search-book-header {
    display: flex;
    flex-direction: column;
   align-items: center;
}