.note-add {
    /* background-image: url('../../../../img/note-app3.jpg'); */
    /* background-image: linear-gradient(rgb(29, 0, 56), rgb(84, 67, 107), rgb(80, 203, 147), rgb(113, 239, 163)); */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.note-add img {
    height: 50%;
}

.note-add section {
    /* max-height: 200px; */
    /* max-width: 200px; */
    margin-top: 10px;
}

.addEditWindow {
    position: relative;
    /* margin: 20px auto; */
    background-color: lightgray;
    /* width: 350px; */
    /* max-height: 500px; */
    padding: 15px 15px 35px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-image: url('../../../../img/note-edit-add2.jpg');
}

.addEditWindow div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-edit-buttons {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.add-edit-buttons button {
    background-color: rgb(153, 254, 255);
    border-radius: 5px;
    cursor: pointer;
}

.add-edit-buttons button:hover {
    background-color: rgb(148, 218, 255);
}

.add-note-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.add-note-filter button:hover {
    transform: scale(150%);
}

.add-note-filter button {
    margin-top: 10px;
    background-color: rgb(153, 254, 255);
    border-radius: 10px;
    font-size: 1.3rem;
    border: rgb(148, 218, 255) 2px solid;
    cursor: pointer;
    transition: 0.5s;
}