.note-app {
    /* display: flex; */
    /* flex-direction: column;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap; */
    /* background-image: url('../../../../img/note-app3.jpg'); */
    /* background-image: linear-gradient(rgb(29, 0, 56), rgb(84, 67, 107), rgb(80, 203, 147), rgb(113, 239, 163)); */
}

.note-app h5 {
    margin: 10px 10px;
    text-align: center;
}

.note-app section {
    /* border: gold 2px solid; */
}

.pinned-notes {
    padding: 10px 10px;
    display: grid;
    gap: 15px;
    /* flex-wrap: wrap; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* align-self: start; */
    /* justify-items: start; */
    align-items: start;

    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    /* grid-template-rows: repeat(auto-fill, minmax(100px, 200px)); */
    /* grid-auto-flow: row dense; */
    /* grid-auto-flow: column dense; */
    /* grid-auto-flow: dense; */
    justify-content: center;
}

.unpinned-notes {
    /* display: flex;
    gap: 15px;
    flex-wrap: wrap; */
    padding: 10px 10px;
    display: grid;
    gap: 15px;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    justify-content: center;
}

.done {
    text-decoration: line-through;
}

.undone {
    text-decoration: none;
}

.note-todo-preview {
    display: flex;
    justify-content: space-between;
}

.todo-list-add {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}